[user]
	name = Conner Crosby
	email = conner@conneracrosby.tech
[core]
	editor = "codium --wait"
	excludesFile = /home/reap2sow1/.gitignore
[credential]
	helper = store
[alias]
	unstage = restore --staged
	discard = restore
	lastci = log -1
	lastp = log -p -1
